<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <title>
        {% block title %}
            AS.GEEK | 
        {% endblock %}
    </title>
    {% block styles %}
    {% endblock %}
</head>
<body>
    {# ---- Flash Messages ------ #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="container is-flex is-justify-content-center">
                <div class="notification is-danger is-light my-5" style="width: 450px;">
                    <button class="delete"></button>
                    <strong>Atención: </strong>
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endwith %}

    {# ---- Contenido ------ #}
    {% block content %}
    {% endblock %}

    {# ---- Scripts ------ #}
    {% block scripts %}
    {% endblock %}
</body>
</html>